# Environnements
**/.env
**/.env.*
!**/.env.example

# Data
**/data/

# Python
**/__pycache__/
**/.pytest_cache/
**/.venv/
**/venv/

# Next.js / Node
**/node_modules/
**/.next/
**/out/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

